<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/save}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type = "text" th:field = "*{name}" id = "name" th:charset="utf-8"/>
    <br>
    <label for="lastname">Enter lastname: </label>
    <input type = "text" th:field = "*{lastname}" id = "lastname" th:charset="utf-8"/>
    <br>
    <input type = "submit" value = "Create!"/>
</form>



</body>
</html>